body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.projects{ 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
    
}

.projects-content{
  grid-area: 2 / 2 / 5 / 6; 
    
    width: 75%;
    display:flex;
}

.projects-title{
    font-size: 30px;
}

.projects-title{
    width:40rem;

  }

  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

 