body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.content {
  margin: 4rem auto 2rem auto;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.preview {
  display: grid;
  grid-gap: 2rem;
  margin: 2rem auto 1rem auto;
}

.card {
  box-shadow: 3px 3px 4px #181717;
  width: 280px;
  background-color: #181717;
}

.details {
  text-align: left;
}

.details {
  padding: 10px;
  color: white;
}
a {
  color: white;
  cursor: pointer;
}
a:hover {
  color: #cea335;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 899px) {
  .preview {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .preview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .preview {
    grid-template-columns: repeat(3, 1fr);
  }
}
