body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.projects-container {
  background-color: #1b1b1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  margin: 5rem auto;
  width: 65%;
}

.projects-title {
  font-size: 24px;
  color: white;
  margin-bottom: 2rem;
  align-self: flex-start;
}

.project-preview-container {
  display: grid;
  grid-gap: 1rem;
}

.project-item {
  border: white solid 2px;
}

.project-item-details {
  padding: 10px;
  color: white;
}
a {
  color: white;
  cursor: pointer;
}

.navigate-down2 {
  align-self: center;
  justify-self: center;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 899px) {
  .project-preview-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-title {
    font-size: 16px;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .project-preview-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .project-preview-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
