body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.projects{ 
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    
}

.projects-content{
    margin:10rem 0 0 0;
    width: 75%;
    display:flex;
}


h1{
    font-size: 2rem;
}