@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Titillium+Web:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  /* background: linear-gradient(to bottom, #000000, #1b1b1c); */
  background-color: #1c212b;
  /* background-color: rgb(24, 25, 26); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: bolder;
  /* font-family: "intro inline"; */
  font-size: 3.157rem;
  font-family: "League Spartan", sans-serif;
  margin: 1.5rem 0 0.5rem 0;
}

.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.content {
  margin: 4rem auto;
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
  margin: 0.5rem 0;
  font-size: 1.333rem;
}

.linkTo {
  font-size: 1.333rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0px 10px;
  padding: 0;
  color: white;
  outline: none;
}

.linkTo:hover {
  color: #cea335;
}

@media (max-width: 899px) {
  .title {
    font-size: 1.777rem;
    text-align: center;
  }
  .description {
    font-size: 1rem;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
}

@media (min-width: 1300px) {
}
