@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-family:'Open Sans', Helvetica, sans-serif;
}