@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.wave {
  position: absolute;
  top: 0;
  z-index: -2;
  background-color: grey;
}
.bg {
  background-color: grey;
  z-index: -3;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  width: 60%;
  margin: 2rem auto 0rem auto;
  /* background-color: #202029; */
}

#name {
  animation: slideLeft 2s ease;
}

.description {
  animation: slideUp 2s ease;
  color: white;
  font-size: 1.333rem;
}
.icons {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 1rem 0rem;
  animation: bounceInUp 3s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.icon {
  fill: white;
  color: white;
  height: 50px;
  margin: 1rem 2rem 0rem 0rem;
}

@keyframes slideLeft {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }

  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }

  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 899px) {
  .description {
    font-size: 1rem;
    text-align: center;
  }
  .icon {
    height: 40px;
    margin: 4rem 1rem 0 1rem;
  }
  .icons {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
}

@media (min-width: 1300px) {
}
