body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.home-container {
  background: linear-gradient(
      -4deg,
      #1b1b1c 0%,
      #1b1b1c 12%,
      rgb(0, 0, 0, 0) 12%
    ),
    linear-gradient(
      -50deg,
      #1b1b1c 11%,
      #1b1b1c 24%,
      rgb(0, 0, 0) 24%,
      rgb(0, 0, 0) 29%,
      rgb(0, 0, 0) 29%,
      rgb(0, 0, 0) 33%,
      rgb(0, 0, 0) 33%,
      rgb(0, 0, 0) 100%
    );
}

.home {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  /* background-color: #202029; */
}

.about-content {
  grid-area: 3 / 2 / 4 / 5;
}

.navigate-down-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navigate-down {
  cursor: pointer;
}

.name {
  color: white;
  font-weight: bolder;
  font-family: "intro inline";
  font-size: 3.157em;
}

.name-container {
  animation: slideLeft 3s ease;
}

.description {
  animation: slideUp 3s ease;
  color: white;
  font-weight: bold;
  font-size: 1.333em;
}

@keyframes slideLeft {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
