@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  /* background: linear-gradient(to bottom, #000000, #1b1b1c); */
  background-color: #232834;
  /* background-color: rgb(24, 25, 26); */
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 1rem auto;
  width: 60%;
  /* background-color: #202029; */
}

.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#name {
  animation: slideLeft 3s ease;
}

.description {
  animation: slideUp 3s ease;
  color: white;
  font-size: 1.333em;
}
.icons {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 1rem 0;
}
.icon {
  fill: white;
  color: white;
  height: 50px;
  margin: 1rem 2rem 2rem 0;
}

@keyframes slideLeft {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
