.container {
  background-color: #1c212b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

form {
  margin: 2rem 0rem;
}
label {
  text-align: left;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.actions {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}
input {
  margin: 4px;
  padding: 5px;
  background-color: #1c212b;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
label {
  margin: 5px;
}
textarea {
  padding: 5px;
  background-color: #1c212b;
  border: 1px solid white;
  color: white;
}

.special {
  border: 1px solid white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1b1b1c inset !important;
  box-shadow: 0 0 0 30px #1b1b1c inset !important;
  -webkit-text-fill-color: white !important;
}
@media (max-width: 899px) {
  form {
    width: 300px;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  form {
    width: 500px;
  }
}

@media (min-width: 1300px) {
  form {
    width: 700px;
  }
}
