.header {
  margin: 0 auto;
  padding: 1.5rem;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: black;
  border-bottom: rgb(165, 120, 41) 2px solid;
  /* opacity: 30%; */
  z-index: 1;
  color: white;
}

.navbar {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
/* #9C8A6A */

.link-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
