.sidebar {
  height: 100%;
  background-color: white;
  box-shadow: -1px 0px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 3;
  transform: translateX(-200%);
  transition: transform 0.3s ease;
  background-color: #2b3038;
  color: white;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sidebar li {
  border-bottom: solid white 1px;
  padding: 0 1rem;
}

.sidebar div {
  font-size: 1.777rem;
  margin: 10px 0;
}

.sidebar li:hover {
  background-color: #cea335;
}

/* .sidebar li:first-child {
  border-top: solid white 1px;
} */

/* @media (min-width: 900px) {
  .sidebar {
    display: none;
  }
} */
