.footer-container {
  margin: 0 auto;
  padding: 4rem;
  display: block;
  bottom: 0;
  width: 100%;
  /* background-color: #000000;
  border-top: #cea335 1px solid; */
  /* opacity: 30%; */
  background-color: #1b1b1c;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
/* #9C8A6A */

.up-arrow {
  color: white;
  font-size: 3rem;
}
