body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.content {
  margin: 6rem auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.tools {
  display: grid;
  grid-gap: 20px;
  margin: 6rem 0 6rem 0;
}
img {
  justify-self: center;
}

@media (max-width: 899px) {
  .tools {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    height: 80px;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .tools {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .tools {
    grid-template-columns: repeat(5, 1fr);
  }
}
