body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.tools {
  display: grid;
  grid-gap: 40px;
  margin: 2rem 0rem 4rem 0rem;
}
img {
  justify-self: center;
}

@media (max-width: 899px) {
  .tools {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    height: 80px;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .tools {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .tools {
    grid-template-columns: repeat(5, 1fr);
  }
}
